body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: colorSecundario;
}

header nav {
  align-items: center;
  background-color: #FFEEE6;
}
header nav div .contenedor-logo {
  width: 4.375rem;
  height: 4.375rem;
}
header nav div .contenedor-logo a {
  height: 3.75rem;
  width: 3.75rem;
}
header nav div .contenedor-logo a img {
  height: 5rem;
  width: 5rem;
  padding: 0;
  transition: 0.2s;
}
header nav div .contenedor-logo a img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
header nav div .contenedor-listanav ul li {
  font-size: 1.25rem;
  transition: 0.2s;
}
header nav div .contenedor-listanav ul li:hover {
  transform: scale(1.05);
}
header nav div .contenedor-listanav ul li .btn button {
  height: 1.875rem;
  width: 4.375rem;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  transition: 0.2s;
}
header nav div .contenedor-listanav ul li .btn button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}

main {
  background-color: rgb(173, 215, 230);
}
main section .titulo-index div {
  background-color: white;
  border-radius: 1.25rem;
  margin-top: 15px;
}
main section .titulo-index div h1 {
  color: black;
  background-color: #FFEEE6;
  border-radius: 1.25rem;
  padding: 0.3125rem;
}
main section .section-primaria .contenedor-desplegables {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main section .section-primaria .contenedor-desplegables .desplegable {
  margin-right: 3.125rem;
  width: 15.625rem;
  padding: 0.9375rem;
  border: 1px solid black;
  background-color: rgba(255, 238, 229, 0.95);
  border-radius: 1.25rem;
  cursor: pointer;
}
main section .section-primaria .contenedor-desplegables .desplegable details summary {
  font-size: 1.25rem;
}
main section .section-secundaria {
  align-items: center;
}
main section .section-secundaria .titulo-disfruta {
  border-radius: 1.25rem;
  text-align: center;
  background-color: #FFEEE6;
}
main section .section-secundaria .titulo-promosindex {
  border-radius: 1.25rem;
  text-align: center;
  background-color: #FFEEE6;
}
main section .section-secundaria .carrusel .img-promo {
  height: 12.5rem;
  width: 25rem;
  object-fit: fill;
}
main section .section-terciaria {
  align-items: center;
}
main section .section-terciaria .titulo-testimonios {
  background-color: #FFEEE6;
  text-align: center;
  border-radius: 1.25rem;
}
main section .section-terciaria section .card {
  transition: 0.2s;
}
main section .section-terciaria section .card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
@media (max-width: 375px) {
  main .desplegable {
    width: 17.5rem;
  }
}
@media (max-width: 768px) {
  main .desplegable {
    margin-left: 2.5rem;
    margin-top: 0.9375rem;
    width: 20rem;
  }
  main .lista-redes {
    margin-top: 0.9375rem;
  }
  main .card-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  main .card-position .card {
    align-items: center;
  }
}
@media (max-width: 992px) {
  main .titulo-promosindex {
    margin-bottom: 0.625rem;
  }
}

footer {
  background-color: #FFEEE6;
}
footer section .lista-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  list-style: none;
}
footer section .lista-redes li {
  padding: 0.9375rem;
  display: inline-block;
  justify-content: space-between;
}
footer section .lista-redes li .fa-square-facebook, footer section .lista-redes li .fa-twitter, footer section .lista-redes li .fa-square-instagram {
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}
footer section .lista-redes li .fa-square-facebook:hover, footer section .lista-redes li .fa-twitter:hover, footer section .lista-redes li .fa-square-instagram:hover {
  transform: scale(1.1);
  color: #3b5998;
}
footer section .lista-redes li .fa-square-instagram:hover {
  transform: scale(1.1);
  color: #E1306C;
}
footer section .lista-redes li .fa-twitter:hover {
  transform: scale(1.1);
  color: #00acee;
}
footer section .lista-ubicaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  list-style: none;
}
footer section .lista-ubicaciones li {
  font-size: 1.25rem;
}
footer section .whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}
footer section .whatsapp .fa-whatsapp {
  margin-right: 0.9375rem;
  margin-bottom: 0.9375rem;
  padding: 1rem;
  font-size: 3.125rem;
  transition: 0.2s;
  cursor: pointer;
}
footer section .whatsapp .fa-whatsapp:hover {
  transform: scale(1.1);
  color: #25d366;
}

main .nav-carta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
}
main .nav-carta ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: none;
  border-radius: 1.25rem;
  background-color: #FFEEE6;
  padding: 0.3125rem;
  width: 90%;
  list-style: none;
}
main .nav-carta ul li {
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  transition: 0.2s;
  background-color: white;
  border: 1px dotted black;
  border-radius: 1.25rem;
  padding: 5px 10px;
}
main .nav-carta ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main .nav-carta ul li a {
  text-decoration: none;
  color: black;
}
main .carta-tabla {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
  margin-bottom: 1.25rem;
}
main .carta-tabla table {
  text-align: center;
  width: 70%;
  font-size: 1.25rem;
}
main .carta-tabla table thead tr th {
  background-color: black;
  color: white;
}
main .carta-tabla table tr td {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 0.9375rem;
  border: 1px solid black;
}
@media (max-width: 991px) {
  main .nav-carta ul li {
    margin-top: 0.625rem;
  }
}

main .h1-promos {
  background-color: #FFEEE6;
  border-radius: 1.25rem;
  margin-top: 0.9375rem;
}
main .promo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  margin: auto;
  width: 100%;
  height: 15.625rem;
  background-color: rgba(255, 238, 229, 0.85);
}
main .promo-card .img-promocion img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
main .promo-card .botones-promo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
}
main .promo-card .botones-promo button {
  width: 6.875rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-size: 1.25rem;
  transition: 0.2s;
}
main .promo-card .botones-promo button:hover {
  transform: scale(1.1);
  background-color: black;
  color: rgb(236, 236, 23);
}
@media (max-width: 575px) {
  main .promo-card .botones-promo {
    display: flex;
    flex-direction: row;
  }
  main .promo-card .botones-promo button {
    width: 5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }
}

main section .titulo-galeria {
  font-size: 1.875rem;
  text-align: center;
  margin-top: 1.25rem;
  border-radius: 1.25rem;
  background-color: rgba(255, 238, 229, 0.95);
}
main section .imagen-hover {
  transition: 0.2s;
}
main section .imagen-hover:hover {
  cursor: pointer;
  transform: scale(1.05);
}
main section .imagen-hover img {
  min-width: 100%;
}
main section .imagen-hover .parrafos-galeria {
  text-align: center;
  background-color: rgba(255, 238, 229, 0.95);
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

main section .form {
  background-color: #FFEEE6;
  margin: 10px auto;
  width: 90%;
  max-width: 25rem;
  padding: 4.5em 3em;
  border-radius: 1.25rem;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
main section .form .form-titulo {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
main section .form .form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
main section .form .form-container .form-group {
  position: relative;
  color: rgb(61, 61, 61);
}
main section .form .form-container .form-group .form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(173, 215, 230);
}
main section .form .form-container .form-group .form-input {
  width: 100%;
  background: none;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(61, 61, 61);
}
main section .form .form-container .form-group .form-input:focus + .form-label, main section .form .form-container .form-group .form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-0.75rem) scale(0.9);
  transform-origin: left top;
  color: rgb(173, 215, 230);
}
main section .form .form-container .form-group .form-label {
  color: rgb(61, 61, 61);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0.3125rem;
  transform: translateY(0.625rem);
  transition: transform 0.5s, color 0.3s;
}
main section .form .form-container .form-submit {
  background-color: rgb(173, 215, 230);
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 1.25rem;
}

/*# sourceMappingURL=style2.css.map */
