*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo-beige{
    background-color: #FFEEE6;
}

.radio-containers{
    border-radius: 1.25rem;
}

.colorbarra{
    background-color: #FFEEE6;
    align-items: center;
}

.contenedor-logo{
    width: 4.375rem;
    height: 4.375rem;
}

.background{
    background-color: lightblue;
}

.navbar-brand{
    height: 3.75rem;
    width: 3.75rem;
}
.navbar-brand img{
    height: 5rem;
    width: 5rem;
    padding: 0;
    transition: 0.2s;
}

.navbar-brand img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.li-nav{
    font-size: 1.25rem;
    transition: 0.2s;
}

.li-nav:hover{
    transform: scale(1.05);
}

.btn button{
    height: 1.875rem;
    width: 4.375rem;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    transition: 0.2s;
}

.btn button:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.desplegables-cont{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.desplegable{
    margin-right: 3.125rem;
    width: 15.625rem;
    padding: .9375rem;
    border: 1px solid black;
    background-color: rgb(255, 238, 229, 95%);
    border-radius: 1.25rem;
    cursor: pointer;
}

@media (max-width:768px){
    .desplegable{
        margin-left: 2.5rem;
        margin-top: .9375rem;
        width: 20rem;
    }

    .lista-redes{
        margin-top: .9375rem;
    }

    .card-position{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-position .card{
        align-items: center;
    }
}

@media (max-width:375px){
    .desplegable{
        width: 17.5rem;
    }
}

footer{
    background-color: #FFEEE6; 
}

.listUbis{
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listUbis li{
    font-size: 20px;
}

.lista-redes{
    list-style: none;
    align-items: center;
    justify-content: center;
}

.lista-redes li{
    padding: .9375rem;
    display: inline-block;
    justify-content: space-between;
}

.whatsapp{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-twitter{
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

.fa-twitter:hover{
    transform: scale(1.1);
    color: #00acee;
}

.fa-square-instagram{
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

.fa-square-instagram:hover{
    transform: scale(1.1);
    color: #E1306C;
}

.fa-square-facebook{
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

.fa-square-facebook:hover{
    transform: scale(1.1);
    color: #3b5998;
}

.fa-whatsapp{
    margin-right: .9375rem;
    margin-bottom: .9375rem;
    padding: 1rem;
    font-size: 3.125rem;
    transition: 0.2s;
    cursor: pointer;
}

.fa-whatsapp:hover{
    transform: scale(1.1);
    color: #25d366;
}

.nav-links .cartaNav{
    color: green;
    text-decoration: underline;
}



.fa-user{
    color: white;
}

.fa-lock{
    color: white;
}

.login{
    text-align: center;
    background-color: rgb(255, 238, 229, 95%);
    width: 18.75rem;  
    transform: translate(130%, 10%);  
    top: 50%;
    left: 50%; 
    border-radius: 1.25rem;
    padding: .625rem 0;                                                                                     
}

.login .username{
    transform: translateX(.1500rem);
}

.login form div{
    margin-bottom: 1.25rem;
}

.olvido a{
    text-decoration: none;
}

.olvido a:hover{
    text-decoration: underline;
}

input[type=submit]{
    width: 6.25rem;
    margin-bottom: 15px;
    border-radius: 1.25rem;
    transition: 0.2s;
}

input[type=submit]:hover{
    transform: scale(1.1);
}

.login .registro{
    margin: 0 0 1.875rem 0;
    font-size: 1rem;
}

.cartaBurg{
    display: flex;
    justify-content: center;
}

.cartaBurg table{
    text-align: center;
    width: 70%;
    font-size: 1.25rem;
}

.cartaBurg table thead tr th{
    background-color: black;
    color: white;
    
}

.cartaBurg table tr td{
    background-color: rgb(255, 255, 255, 80%);
    color: black;
    padding: .9375rem;
    border-radius: 1.25rem;
}

.nav-carta ul{
    background-color: #FFEEE6;
    padding: .3125rem;
    width: 90%;
    align-self: center;
    list-style: none;
}

.nav-carta ul li{
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.2s;
}

.nav-carta ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.nav-carta ul li a{
    text-decoration: none;
    color: black;
}

summary{
    font-size: 1.25rem;
}

.img-promo{
    height: 12.5rem;
    width: 25rem;
    object-fit: fill;
}

.promoCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15.625rem;
    margin: .9375rem 0;
    background-color: rgb(255, 238, 229, 85%);
}

.promoCard .imgPromocion{
    height: 50%;
    width: 60%;
    margin: auto;
}

.promoCard .imgPromocion img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.promoCard .botonesPromos{
    margin: 20px;
}

.promoCard .botonesPromos button{
    width: 6.875rem;
    height: 3.75rem;
    margin: .9375rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.25rem;
    transition: 0.2s;
}

.promoCard .botonesPromos button:hover{
    transform: scale(1.1);
    background-color: black;
    color: rgb(236, 236, 23);
}

.parrafos-galeria{
    text-align: center;
    background-color: rgb(255, 238, 229, 95%);
}

.imagen-hover{
    transition: 0.2s;
}

.imagen-hover:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.tituloGaleria{
    font-size: 1.875rem;
    text-align: center;
    margin-top: 1.25rem;
    border-radius: 1.25rem;
    background-color: rgb(255, 238, 229, 95%);
}
.card{
    transition: 0.2s;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

