$colorPrincipal: #FFEEE6;
$colorPrincipal-tr: rgb(255, 238, 229, 85%);
$colorSecundario: rgb(173, 215, 230);
$colorSecundario-tr: rgb(173, 215, 230, 85%);

$radio-principal: 1.25rem;
$radio-secundario: .625rem;