main{
        .login{
            text-align: center;
            background-color: $colorPrincipal;
            width: 18.75rem;  
            transform: translate(130%, 10%);  
            top: 50%;
            left: 50%; 
            border-radius: 1.25rem;
            padding: .625rem 0;
            height: 18.75rem;
            
            form{
                div{
                    margin-bottom: 1.25rem;
                }
                .username{
                    transform: translateX(.1500rem);
                }
                .olvido{
                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .boton-ingresar{
                    width: 6.25rem;
                    margin-bottom: 15px;
                    border-radius: 1.25rem;
                    transition: 0.2s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .registro{
                    margin: 0 0 1.875rem 0;
                    font-size: 1rem;
                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    
}
