main{
    .h1-promos{
        background-color: $colorPrincipal;
        border-radius: $radio-principal;
        margin-top: .9375rem;
    }
    .promo-card{
        @include flex(row, center, center, none);
        margin: auto;
        width: 100%;
        height: 15.625rem;       
        background-color: $colorPrincipal-tr;
        .img-promocion{
            
            img{
                object-fit: fill;
                height: 100%;
                width: 100%;
            }
        }
        .botones-promo{
            @include flex(row, center, center, none);
            
            button{
                width: 6.875rem;
                height: 3.75rem;
                border-radius: $radio-principal;
                cursor: pointer;
                font-size: 1.25rem;
                transition: 0.2s;
                &:hover{
                    transform: scale(1.1);
                    background-color: black;
                    color: rgb(236, 236, 23);
                }
            }
        }
    }
    @media (max-width:575px){
        .promo-card{         
            .botones-promo{
                display: flex; 
                flex-direction: row;          
                button{
                    width: 5rem;
                    height: 2.5rem;
                    font-size: .75rem;
            }
        }
    }
}
}
